@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''), url(/assets/fonts/montserrat/montserrat-bold.woff2) format('woff2'),
    url(/assets/fonts/inter/montserrat-bold.woff) format('woff');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local(''),
    url(/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2)
      format('woff2'),
    url(/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff) format('woff');
}
