.blog h1 {
  font-size: var(--size-step-4);
}

.blog h2 {
  font-size: var(--size-step-3);
}

.blog h3 {
  font-size: var(--size-step-2);
}

.blog img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
}

.blog__footer {
  padding-top: 40px;
}

.blog__newsletter {
  padding: 40px 40px;
  text-align: center;
  background-color: var(--color-primary);
}

.blog__newsletter p,
.blog__newsletter h3{
  margin: 20px auto;
  color: var(--color-light);
}

.blog__newsletter h4 {
  color: var(--color-light);
}
