.home.top h4 {
  max-width: 49ch;
  margin-left: auto;
  margin-right: auto;
}

.home h2#grow-your-business-get-better-customers,
.home h3#want-to-grow-your-business-with-my-plan {
  max-width: 20ch;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home h4#wasting-time-and-money-on-marketing-that-isnt-working,
.home p {
  max-width: unset;
}

.home h4#understand-your-audience-and-drive-traffic-to-your-website {
  margin-bottom: 2em;
  max-width: unset;
}

.home h2,
h2#how-i-can-help-you {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home.testimonial {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--wrapper-max-width,145rem);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.home.testimonial .heading-anchor:is(:hover, :focus) {
  text-decoration: underline;
}
.home.testimonial .heading-anchor {
  text-decoration: none;
}