.primo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: var(--wrapper-max-width, 85rem);
  margin-left: auto;
  margin-right: auto;
}

.primo input[type=email],
.primo input[type=text] {
  line-height: 4rem;
  padding: 0px 15px;
}

.primo input[type=email]:focus,
.primo input[type=text]:focus {
  outline-offset: 0;
}

.primo input[type=email]::placeholder,
.primo input[type=text]::placeholder {
  font-size: smaller;
}

.primo input[type=submit] {
  background-color: var(--color-light);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-tertiary);
  border: solid 1px var(--color-tertiary);
  padding: 0px 15px;
  line-height: 4rem;
  transition: background-color 0.3s ease-out 0s;
}

.primo input[type=submit]:hover {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.primo input[type=submit]:focus {
  outline: 0px;
}