.logo {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  letter-spacing: -0.08rem;
  padding: var(--space-xs) 0;
}

.logo:focus {
  color: var(--color-primary);
  outline: 0;
}

.logo:focus > svg {
  fill: #7395ae !important;
}

