.site-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site-head svg {
  fill:#557a95;
}

#mainnav ul li:last-child a {
  background: var(--color-primary-glare);
}
