---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region about top">
      <h1 class="text-center shadow">{{ title }}</h1>
      <h4 class="text-center" role="doc-subtitle">{{ subtitle }}</h4>
    </div>
  </div>
  {% include "svg/divider-waves.svg" %}
</header>

<article class="section region" style="--region-space-top: var(--space-xs)">
  <div class="wrapper flow prose about content">

    <section class="breakout relative">
      <div class="sidebar my-l-xl flow">
        <header class="flow mr-xs">
          {% imagePlaceholder "./src/assets/images/about/george-mcentegart.jpg", "George McEntegart", "", "(min-width: 820px) 820px, 100vw" %}
        </header>
        <span class="flow">
          <h2>{{ breakout.title }}</h2>
          <p>{{ breakout.intro }}</p>
        </span>
      </div>
    </section>

    {{ content | safe }}
  </div>
</article>
