---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region home top">
      <h1 class="text-center shadow">{{ title }}</h1>
      <h4 class="text-center" role="doc-subtitle">{{ subtitle }}</h4>
    </div>
  </div>
  {% include "svg/divider-waves.svg" %}
</header>

<article class="wrapper region">
  <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set guideslist = collections.guides %} {% for post in guideslist %}

    <li class="card flow overflow-hidden">
      <h2>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>
      {% set definedDate = post.date %} {% include "partials/date.njk" %}
      <p>{{ post.data.description }}</p>
    </li>

    {% endfor %}
  </ul>
</article>
