---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region home top">
      <h1 class="text-center shadow">{{ title }}</h1>
      <h4 class="text-center" role="doc-subtitle">{{ subtitle }}</h4>
    </div>
  </div>
  {% include "svg/divider-waves.svg" %}
</header>

<article class="region home">
  <div class="wrapper flow prose text-center">
    <h2 id="{{ newsletter.heading | slugify }}">
      <a class="heading-anchor" href="#{{ newsletter.heading | slugify }}">{{ newsletter.heading }}</a>
    </h2>
    <h4 class="text-center" role="doc-subtitle">{{ newsletter.subtitle }}</h4>
    <p>{{ newsletter.content }}</p>
    {% include "partials/newsletter-signup.njk" %}
  </div>
</article>

<article class="section line-full spot-color-primary region">
  {% include "svg/divider-curve.svg" %}
  <div class="section__inner region">
    <div class="wrapper flow prose text-center">
      <h2 id="{{ services.heading | slugify }}">
        <a class="heading-anchor" href="#{{ services.heading | slugify }}">{{ services.heading }}</a>
      </h2>
      <p>{{ services.content }}</p>
    </div>
    {% include "partials/services.njk" %}
  </div>
</article>

<article class="section line-full spot-color-primary region" style="--region-space-top: var(--space-xs)">
  <div class="flow home testimonial">
    <h2 id="{{ testimonials.heading | slugify }}">
      <a class="heading-anchor" href="#{{ testimonials.heading | slugify }}">{{ testimonials.heading }}</a>
    </h2>
    {% include "partials/testimonials.njk" %}
  </div>
</section>
