---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center">{{ title }}</h1>
      <h4 class="text-center" role="doc-subtitle">{{ subtitle }}</h4>
    </div>
  </div>
  {% include 'svg/divider-waves.svg' %}
</header>

<article class="region newsletter">
  <div class="wrapper flow prose">
    {{ content | safe }}
    <div class="signup__container">
      {% include "partials/primo-signup.njk" %}
    </div>
  </div>
</article>

<article class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose newsletter">
    <h3>{{ blog.title }}</h3>
    <!-- blog intro text is optional. -->
    {% if blog.intro %}
      <p>{{ blog.intro }}</p>
    {% endif %}
  </div>

  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set newsletterslist = collections.newsletters %} {% for newsletter in newsletterslist.slice(0, 4) %}

    <li class="card flow overflow-hidden">
      <h3>
        <a href="{{ newsletter.url | url }}">{{ newsletter.data.title }}</a>
      </h3>
      {% set definedDate = newsletter.date %} {% include "partials/date.njk" %}
      <p>{{ newsletter.data.description }}</p>
    </li>

    {% endfor %}
  </ul>
</article>
