---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>

    {% set definedDate = date %} {% include "partials/date.njk" %}

    {{ content | safe }}
  </div>
  <footer class="blog__footer wrapper flow prose">
    <hr>
    <p><strong>Whenever you're ready, there are a few ways I can help you:</strong></p>
    <ul>
      <li>
        <a href="/services/goals-and-growth/">Goals and Growth Consulting</a> - <i>I will help you understand who and where your customers are, how to connect with them and what you should focus on to achieve your goals.</i>
      </li>
      &nbsp;
      <li>
        <a href="/services/landing-page-audit/">Landing Page Audit</a> - <i>A 20-minute, private video with easy-to-implement advice that will improve your landing page conversion rate.</i>
      </li>
      &nbsp;
      <li>
        <a href="/services/website-design/">Website Design and Build</a> - <i>I will design and develop a stunning, responsive, and user-friendly website that showcases your brand's personality and help you thrive in the digital world.</i>
      </li>
      &nbsp;
      <li>
        <a href="/services/gmb-management/">Google Business Profile Management</a> - <i>Whether you want me to secure and optimise your business listing on a one-off basis, or have me professionally manage your listing month to month, I can help.</i>
      </li>
    </ul>
    <div class="blog__newsletter flow">
      <h3>Tools and Strategies That Grow Your Business</h3>
      <h4>The Business Boost & Build Newsletter</h4>
      <p>A free newsletter with tips and resources to help you grow your business with clarity and confidence.</p>
      <div class="signup__container">
        {% include "partials/newsletter-signup.njk" %}
      </div>
      <p><i>It includes one tip from me and three resources from others.</i></p>
    </div>
  </footer>
</article>
