---
layout: base
schema: blog
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>

    {% set definedDate = date %} {% include "partials/date.njk" %}

    {{ content | safe }}
  </div>
  <footer class="blog__footer wrapper flow prose">
    <hr>
    <p><strong>Whenever you're ready, I can help you grow your business.</strong></p>
    <p>Let’s work together, <a href="/contact">contact me</a> for more information.</p>
    <div class="blog__newsletter flow">
      <h3>Tools and Strategies That Grow Your Business</h3>
      <h4>The Business Boost & Build Newsletter</h4>
      <p>A free newsletter with tips and resources to help you grow your business with clarity and confidence.</p>
      <div class="signup__container">
        {% include "partials/newsletter-signup.njk" %}
      </div>
      <p><i>It includes one tip from me and three resources from others.</i></p>
    </div>
  </footer>
</article>
