---
permalink: /_redirects
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{% for page in collections.all %}
  {% if page.url and page.data.redirectFrom %}
    {% for oldUrl in page.data.redirectFrom %}
{{ oldUrl }}  {{ page.url }}
    {% endfor %}
  {% endif %}
{% endfor %}

# Redirects

/products/websites-you-can-trust/index.html         /contact/index.html 301
/products/consultation-and-training/index.html       /contact/index.html 301
/products/the-primo-post/index.html                  /newsletter/index.html 301
/products/free-guides/index.html                     /free-guides/index.html 301