---
permalink: /feed.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ meta.url }}/">
  <title>{{ meta.blog.name }}</title>
  <subtitle>{{ meta.blog.description }}</subtitle>
  <link href="{{ meta.url }}/feed.xml" rel="self" />
  <link href="{{ meta.url }}/" />
  {# Newsletters #}
  {% set newsletterslist = collections.newsletters %}
  <updated>{{ newsletterslist | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.url }}/</id>
  <author>
    <name>{{ meta.author }}</name>
    <email>{{ meta.authorEmail }}</email>
  </author>
  {%- for newsletter in newsletterslist %} {%- set absoluteNewsletterUrl = newsletter.url | absoluteUrl(meta.url)
  %}
  <entry>
    <title>{{ newsletter.data.title }}</title>
    <link href="{{ absoluteNewsletterUrl }}" />
    <updated>{{ newsletter.date | dateToRfc3339 }}</updated>
    <id>{{ absoluteNewsletterUrl }}</id>
    <content
      xml:lang="{{ locale }}"
      type="html"
      >{{ newsletter.templateContent | htmlToAbsoluteUrls(absoluteNewsletterUrl) }}</content
    >
  </entry>
  {%- endfor %}
  {# Free Guides #}
  {% set guideslist = collections.guides %}
  <updated>{{ guideslist | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.url }}/</id>
  <author>
    <name>{{ meta.author }}</name>
    <email>{{ meta.authorEmail }}</email>
  </author>
  {%- for guide in guideslist %} {%- set absoluteGuideUrl = guide.url | absoluteUrl(meta.url)
  %}
  <entry>
    <title>{{ guide.data.title }}</title>
    <link href="{{ absoluteGuideUrl }}" />
    <updated>{{ guide.date | dateToRfc3339 }}</updated>
    <id>{{ absoluteGuideUrl }}</id>
    <content
      xml:lang="{{ locale }}"
      type="html"
      >{{ guide.templateContent | htmlToAbsoluteUrls(absoluteGuideUrl) }}</content
    >
  </entry>
  {%- endfor %}
</feed>
