{% set activePage = page.url | url %}

<footer class="site-foot" role="contentinfo">
  <div class="wrapper">
    <div class="site-foot__inner">
      <nav>
        <h4>Email</h4>
        <p><a href="mailto:contact@georgemc.co.uk">contact@georgemc.co.uk</a></p>
        <h4>Phone</h4>
        <p><a href="tel:07899890634">07899 890634</a></p>
      </nav>
      <nav>
        <h4>Address</h4>
        <p>80A Westcourt Road,<br />
        Worthing,<br />
        West Sussex,<br />
        BN14 7DP<br />
        </p>
      </nav>
    </div>
    <div class="site-foot__inner">
      <nav id="footernav" class="site-foot__inner" aria-label="Footer">

        &copy; Copyright {% year %} <a href="/" {% if activePage === '/' %} aria-current="page" {% endif %}>{{ meta.siteName }} </a>

        {% for item in navigation.bottom %}

        <a
          href="{{ item.url }}"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          >{{ item.text }}</a
        >

        {% endfor %}
      </nav>

      <nav id="social" class="site-foot__inner" aria-label="Social links">
        {% for item in social %}

        {% if item.platform == "rss" %}
        <a href="{{ meta.url }}/{{ locale }}{{ item.url }}" rel="alternate" type="application/rss+xml">
        {% else %}
        <a href="{{ item.url }}" target="_blank" rel="me">
          {% endif %}
          <span class="sr-only">{{ item.platform }}</span>
          <div aria-hidden="true">{% include 'icons/social-' + item.icon %}</div>
          </a
          >
        {% endfor %}


        </nav>
    </div>
  </div>

  <!-- lang menu -->
</footer>


