<form name="newsletter" id="primo-newsletter" class="primo" action="" action="POST">
  <input type="email" name="email" placeholder="Your email address..." />
  <input type="submit" value="Subscribe Now" />
</form>