<form name="newsletter" id="primo-newsletter" class="primo" action="POST">
  <input type="email" name="email" placeholder="Your email address..." />
  <input id="newsletter-subscribe" type="submit" value="Subscribe Now" />
</form>