<ul class="grid mt-l-xl testimonials" role="list" data-layout="50-50">
  {% set testimonialslist = collections.testimonials %} {% for testimonial in testimonialslist %}
  
  <li>
    <h3>{{ testimonial.data.title }}</h3>
    <h4>{{ testimonial.data.company }}</h4>
    <div class="stars">
      {% include "svg/star.svg" %}
      {% include "svg/star.svg" %}
      {% include "svg/star.svg" %}
      {% include "svg/star.svg" %}
      {% include "svg/star.svg" %}
    </div>
    <blockquote>
      <p>{{ testimonial.data.description }}</p>
    </blockquote>
  </li>
  
  {% endfor %}
</ul>